<div class="container row m-auto">
    <h1 class="col-12 text-center py-3 titulo">Portal de Películas</h1>

    <!--CARDS-->
    <section class="col-sm-6 col-md-8 p-2">
        <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 g-4">
            <div id="pelis" class="col" *ngFor="let p of peliculas">
                <div class="card h-100">
                    <img src="{{p.image}}" class="card-img-top" alt="imagen">
                    <a href=""></a>
                    <div class="card-body">
                        <a href="#" class="text-decoration-none text-reset">
                            <h5 class="card-title">{{p.title}}</h5>
                        </a>
                        <span class="card-text">{{p.year}}</span>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br><br>
    </section>

    <!--ASIDE-->
    <aside class="col-sm-6 col-md-4 pt-2">
        <div class="row">
            <img src="../../../assets/img09.png" class="img-fluid" alt="Publicidad">
        </div>
    </aside>
</div>